body {
	font-family: Arial, sans-serif;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Background style */
.container {
	width: 350px;
	height: 700px;
	background-image: linear-gradient(#8e44ad, #fff, #8e44ad, #fff, #8e44ad);
	border: 2px solid purple;
	border-radius: 25px;
}

/* Header style */
.header h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	text-align: left;
	margin-top: 80px;
	margin-left: 20px;
	margin-bottom: 20px;
}

/* Button Mood Emoji */
#selectEmojiBtn {
	background: none;
	border: none;
	padding: 10px 30px;
	font-size: 25px;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 8px;
	width: 310px;
	margin-left: 20px;
	border-radius: 1;
}

.day {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid lightgray;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 0;
}

.date {
	font-size: 16px;
	font-weight: 600;
}

.day-name {
	font-size: 8px;
	margin-top: 8px;
	color: #555;
}
.clicked {
	border: 2px solid purple;
	color: purple;
}
